.layout {
  min-height: calc(100vh - 64px);
}

.spin {
  margin-top: 50px;
}

.siderToggleButton {
  position: fixed;
  top: 64px;
  right: 0;
  transform: translateX(-350px);
  z-index: 99;
}

.siderToggleButtonCollapsed {
  transform: translateX(0);
}

.sider {
  height: 100vh;
  position: fixed;
  transform: translateX(0);
  right: 0;
  top: 64px;
  transition: transform 0.3s ease;
  overflow: auto;
}

.siderCollapsed {
  transform: translateX(100%);
}
