.header {
  padding: 24px;
}

.header__month {
  margin-bottom: 0 !important;
  text-align: center;
}

.add-new__wrapper {
  margin-top: 1rem;
}

.add_new__button {
  font-weight: bold;
}

.stats {
  padding-left: 24px;
}

.stats__title {
  margin: 0 !important;
}

.select {
  width: 70%;
}

.charts__wrapper {
  margin-top: 30px;
}

.chart__wrapper {
  overflow-x: auto;
}
